.inputcontainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  max-height: 400px;
}

h1 {
  color:rgb(18, 18, 221);
}

.form-control {
  margin-bottom: 10px;
  font-size: 17px;
}
.placeholder{
  line-height: 11px;
}
.btnput {
  background-color: #009688;
  width: fit-content;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
}

.btn:hover {
  background-color: blue; /* Slightly darker pink on hover */
}

.btn::before {
  
  content: '\1F4C5'; /* Emoji code for a smiling face */
  margin-right: 8px;
}

label {
  
  margin-bottom: 3px;
  font-size: 17px;
  
}
.popup-content {
  padding: 20px;
}

.TextField{
  background-color:white;
}
.bg{
  background-color: #fff;
  height: 500px;
}