.pad{
  padding: 10px;
}
.line{
  background: #ffffff;
  border-bottom: 2px solid #000000;
}

.navbar {
  background-color: #c6b4c4; /* Set your desired background color */
}

.navbar-brand {
  color: #fff; /* Set your desired text color */
}

.navbar-toggler {
  background-color: #e11515; /* Set your desired color for the toggle button */
}

.navbar-nav {
  margin-right: auto;
}

.nav-item {
  margin-right: 10px; /* Adjust spacing between navigation items */
}

.nav-link {
  color: #68105e; /* Set your desired text color */
  text-decoration: none;
  transition: color 0.3s ease; /* Add a smooth color transition effect */
}

.nav-link:hover {
  color: #e74c3c; /* Set your desired text color on hover */
}