.registerForm {
  max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background-color: #dac3dd; */
    /* background-image: url('C:\Users\2000112369\Downloads\Calendar.jpg');  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-control {
  margin-bottom: 10px;
}
.formField{
  margin-bottom:20px;
}
.form-select {
  margin-bottom: 10px;
}

.button {
  margin-right: 10px;
}

.login{
  /* background-image: url('C:\Users\2000112369\Downloads\Calendar.jpg'); 
   background-repeat: no-repeat; */
 background-size: cover;
 display:flex;
 background-color: #f5f5f5;
 /* Filter:blur(2px); */
 Height:800px;
}