.registerForm {
  max-width: 350px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #dac3dd;
    background-image: url('C:\Users\2000112419\Downloads\React\calendar-app\public\Images\Background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.form-control {
  margin-bottom: 10px;
}

.form-select {
  margin-bottom: 10px;
}

.button {
  margin-right: 10px;
}
.login{
 background-image: url('C:\Users\2000112419\Downloads\React\calendar-app\public\Images\Calendar.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 /* Filter:blur(2px); */
 Height:800px;
}