.profile{
    max-width: 320px;
    margin: auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:whitesmoke; 
    height:450px;
    align-items: center;
}


label {
    display: block;
    font-weight: bold;
}
 .User{
    background-color: rgb(250, 249, 250);
 }

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.value{
    height:5px;
}
/* Additional styling for better readability or customization */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}